<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
    <title>Error :(</title>
</head>
<body>
    <div class="container">
        <img src="https://img.freepik.com/free-vector/glitch-error-404-page_23-2148105404.jpg" alt="404 not-found" srcset="">
    </div>
</body>
</html>