<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar.ejs')  %>
    <h1>Homepage</h1> 
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>